html {
	--color-primary: #4d77ff;
	--color-primary-15: rgba(77, 119, 255, 0.15);
	--color-black: #121212;
	--color-black-10: rgba(18, 18, 18, 0.1);
	--color-grey: #696969;
	--color-lightgrey: #c7c9d9;
	--color-lightgrey-15: rgba(199, 201, 217, 0.15);
	--color-whitegrey: #edf1ff;
	--color-white: #ffffff;
	overflow-x: hidden;
	overflow-anchor: none;
	scroll-behavior: smooth;
	font-size: 14px;
	line-height: 20px;
	font-family: "Manrope", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	letter-spacing: 0.03em;
	color: var(--color-black);
	background-color: var(--color-primary-15);
	-webkit-tap-highlight-color: transparent;
}

body {
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: hidden;
	background-color: var(--color-white);

	@media (min-width: 1440px) {
		box-shadow: 0 0 100vw var(--color-primary);
	}
}

a,
button,
input,
select,
textarea {
	font: inherit;
	color: inherit;
	transition-property: color, opacity, background-color, border-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

a,
button {
	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

a {
	text-decoration-skip-ink: none;
}

input,
textarea {
	box-sizing: border-box;
	-webkit-text-fill-color: currentColor;
	box-shadow: none;

	&:disabled {
		opacity: 0.3;
	}

	&::placeholder {
		color: inherit;
		opacity: 0.3;
	}
}

input {
	&[type="number"] {
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	&:-webkit-autofill {
		box-shadow: none;
	}
}

img {
	max-width: 100%;
	object-fit: contain;
}

svg {
	fill: currentColor;
}

:focus {
	outline: 2px solid var(--color-primary);
	outline-offset: 2px;

	@supports selector(:focus-visible) {
		outline: none;
	}
}

:focus-visible {
	outline: 2px solid var(--color-primary);
	outline-offset: 2px;
}
