{
	"extends": "pineglade",
	"overrides": [
		{
			"files": [
				"api/pages/**/*.js",
				"api/common/main.js"
			],
			"rules": {
				"max-len": "off",
				"max-lines-per-function": "off"
			}
		}
	]
}
