{
	"extends": "pineglade",
	"globals": {
		"Swiper": "readonly"
	},
	"overrides": [
		{
			"files": "api/data/**/*.js",
			"rules": {
				"max-len": "off",
				"max-lines": "off",
				"max-lines-per-function": "off"
			}
		}
	]
}
