.page {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0 auto;
	padding: 75px 20px 20px;

	@media (--desktop) {
		width: 1280px;
		padding: 40px 20px 104px;
	}
}

.page__footer {
	margin-top: auto;
}
