.page-footer {
	display: grid;
	gap: 30px 140px;

	@media (--mobile-tablet) {
		padding-top: 20px;
		border-top: 1px solid var(--color-primary);
	}

	@media (--desktop) {
		grid-template-columns: 440px 1fr;
	}
}

.page-footer__logo {
	margin: 8px 0;
}

.page-footer__description {
	margin: 0;
	letter-spacing: 0.015em;
}
