.persons {
	--top: 0;
	--right: 0;
	position: relative;
	z-index: 1;

	@media (--tablet-desktop) {
		display: flex;
	}
}

.persons__card {
	max-width: 150px;

	@media (--tablet-desktop) {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(var(--right), var(--top));
	}
}

.persons__picture {
	display: table;
	margin-left: auto;

	& img {
		display: block;
	}
}

.persons__circle {
	--top: 0;
	--right: 0;
	--width: 0;
	--height: 100%;
	position: absolute;
	right: var(--right);
	bottom: 0;
	z-index: -1;
	width: var(--width);
	height: var(--height);
	max-height: 100%;
	overflow: hidden;

	@media (--desktop) {
		display: block;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: var(--width);
		background-color: var(--color-primary);
		border-radius: 50%;
	}
}
