.slider {
	position: relative;
}

.slider__header {
	margin-bottom: 50px;
	text-align: center;
}

.slider__bg-wrapper {
	position: relative;
	z-index: 1;
}

.slider__body {
	overflow: hidden;
}

.slider__list {
	margin: 0;
	padding: 30px 0 0;
	list-style: none;

	@media (--desktop) {
		padding-top: 80px;
	}
}

.slider__item {
	flex-shrink: 0;

	& + & {
		margin-top: 50px;
	}
}

.slider__slide {
	--height: 230px;
	--rows: 5;
	margin: 0;

	@media (--tablet-desktop) {
		--height: 360px;
	}
}

.slider__control {
	position: absolute;
	right: 0;
	bottom: 20px;
	z-index: 1;
	display: none;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:disabled {
		color: var(--color-lightgrey);
		opacity: 1;
		cursor: not-allowed;
	}

	&::before {
		content: "";
		display: block;
		width: 40px;
		height: 40px;
		background-color: currentColor;
		mask-image: url("../images/sprite.min.svg#arrow");
	}

	&--prev {
		right: 56px;

		&::before {
			transform: scaleX(-1);
		}
	}
}

.slider--ready {
	& .slider__bg-wrapper::before {
		content: "";
		position: absolute;
		top: 0;
		right: -20px;
		z-index: -1;
		width: 100vw;
		height: 460px;
		background-color: var(--color-whitegrey);

		@media (--tablet-desktop) {
			height: 648px;
		}

		@media (--desktop) {
			right: 0;
			height: 350px;
		}
	}

	& .slider__list {
		display: flex;
	}

	& .slider__item + .slider__item {
		margin-top: 0;
	}

	& .slider__control {
		display: block;
	}
}
